<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<!-- FOOTER  -->
	<div id="footer" th:fragment="footer">
		<div id="top-footer">
			<a href="gioi-thieu.html" title="Giới thiệu">Giới thiệu</a>&nbsp&nbsp|&nbsp&nbsp
			<a href="tin-tuc/huong-dan/cau-hoi-thuong-gap-59.html"
				title="Hướng dẫn">Câu hỏi thường gặp</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="de-kiem-tra/toan-lop-1.html" title="Kiểm tra">Kiểm tra</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<!--<a href="" title="Giới thiệu">Thi đấu</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp-->
			<a href="hoc-ma-choi.html" title="Học mà chơi">Học mà chơi</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<!--<a href="" title="Giới thiệu">Bác học nhí</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp-->
			<a href="tin-tuc.html" title="Tin tức">Tin tức</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
			<a href="tin-tuc/huong-dan/quy-dinh-su-dung-109.html" title="Tin tức">Quy
				định sử dụng</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp <a
				href="tin-tuc/huong-dan/chinh-sach-bao-mat-148.html" title="Tin tức">Chính
				sách bảo mật</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp <a href="lien-he.html"
				title="Liên hệ">Góp ý - Liên hệ</a>

		</div>

		<div id="bottom-footer">
			<a class="b_logo" href="index.html"></a>
			<div class="info_foo">
				<p class="foo_text_info">
					Website mathematics online - a product of BeOnline Co., Ltd.<br />
				</p>
				<div class="space5"></div>
				<p class="foo_add">
					Tel: 0123456896 - 02436628077
					&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Email:
					hotro@Website_mathematics_online.com<br />Địa chỉ: Khu phố 6, P.
					Linh Trung, Q. Thủ Đức, TP.HCM.
				</p>
			</div>
			<div class="social_foo"></div>
		</div>
	</div>
	</div>
	<!-- END FOOTER -->
</body>
</html>