<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!-- HEADER -->
            <div id="header" th:fragment="header" >
                <div class="header-left">
                    <a href="index.html" title="Website mathematics online"></a>
                </div>
                <div class="thongbao_top" style="display:none;">Chú ý: Để đảm bảo quyền lợi và bảo vệ tài khoản của mình <br>Bạn hãy xác thực địa chỉ email đăng ký nhé.  <a href="tin-tuc/luyen-thi-123/thong-bao-xac-thuc-tai-khoan-234.html">Chi tiết xem tại đây</a></div>
                <div class="header-right">
                    
                   
                    <div class="header-member-act">
                        <a class="f-act-login" href="login.html" title="Đăng nhập hệ thống">Đăng nhập</a>
                        <a class="f-act-register" href="dang-ky.html" title="Đăng ký">Đăng ký</a>
                    </div>
                    <script type="text/javascript">
                        const member_data = [];
                    </script>
                </div>
                <img class="top-head-cloud1" src="/assets/image/home/top-cloud1.png" />
                <img class="top-head-cloud2" src="/assets/image/home/top-cloud2.png" />
                <script src="/assets/js/header.js"></script>
            </div>
            
            
            
        
            <!-- END HEADER -->
</body>
</html>