<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<!-- MAIN - MENU -->
		<div id="main-menu" th:fragment="menu" >
			<div class="navigation_menu">
				<div class='nav_menu'>
					<ul>
						<li class='p-has-sub ic_lophoc'><a><span>Lớp học</span></a>
							<ul>
								<li class='has-sub'><a href='toan-lop-1.html'><span>Lớp
											1</span></a></li>
								<li class='has-sub'><a href='toan-lop-2.html'><span>Lớp
											2</span></a></li>
								<li class='has-sub'><a href='toan-lop-3.html'><span>Lớp
											3</span></a></li>
								<li class='has-sub'><a href='toan-lop-4.html'><span>Lớp
											4</span></a></li>
								<li class='has-sub'><a href='toan-lop-5.html'><span>Lớp
											5</span></a></li>
							</ul></li>
						<li class="ic_kiemtra"><a href='de-kiem-tra/toan-lop-1.html'><span>Kiểm
									Tra</span></a></li>
						<li class="ic_thidau"><a
							href='tin-tuc/huong-dan/gioi-thieu-ve-thi-dau-108.html'><span
								style="line-height: 27px;">Thi đấu<span class="nav_new"></span></span></a></li>
						<li class="ic_toanvui"><a href='hoc-ma-choi.html'><span>Học
									mà chơi</span></a></li>
						<li class="ic_huongdan"><a href='goc-thong-thai.html'><span>Hỏi
									đáp</span></a></li>
					</ul>
					<div class="box_search">
						<input id="inp_search" type="text" placeholder="Tìm kiếm" />
					</div>
				</div>
			</div>
		</div>
		<!-- END MAIN - MENU -->
</body>
</html>