<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/sharedlayout/head-tag :: head-tag">
    <title>Website mathematics online</title>
</head>
<body>
<!-- WRAPPER -->
<div class="wrapper">
    <div class="header_tb_opacity"></div>
    <!-- HEADER -->
    <div id="header" th:replace="user/sharedlayout/header::header"></div>


    <!-- MAIN - MENU -->
    <div id="main-menu" th:replace="user/sharedlayout/menu :: menu"></div>

    <link rel="stylesheet" type="text/css"
          href="/assets/libraries/editor/mathquill.css">
    <script src="/assets/libraries/editor/mathquill.min.js"></script>
    <script type="text/javascript"
            src="/assets/libraries/MathJax/MathJax8331.js?config=TeX-AMS_HTML-full"></script>
    <!-- SECSION CLASS -->
    <div id="secsion-class2">
        <img class="top-head-cloud11"
             src="/assets/image/home/top-cloud1.png"/> <img
            class="top-head-cloud22" src="/assets/image/home/top-cloud2.png"/>
        <img class="top-head-cloud23"
             src="/assets/image/home/top-cloud2.png"/>
        <!-- animation -->
        <div class="" id="animation">
            <div class="" id="anis">
                <div class="h-box-cap1">
                    <div class="h-item-grade">
                        <a href="/toan-lop-1" title="Lớp 1">
                            <div class="grade1">&nbsp;</div>
                        </a>
                        <div class="h-info-grade cap2">
                            <a href="/toan-lop-1" title="Toán lớp 1">
                                <div class="h-title-subject">Toán lớp 1</div>
                                <div class="h-title-intro">Toán lớp 1 cơ bản đến Toán
                                    lớp 1 nâng cao
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="h-item-grade">
                        <a href="/toan-lop-2" title="Lớp 2">
                            <div class="grade2">&nbsp;</div>
                        </a>
                        <div class="h-info-grade cap2">
                            <a href="/toan-lop-2" title="Toán lớp 2">
                                <div class="h-title-subject">Toán lớp 2</div>
                                <div class="h-title-intro">Toán lớp 2 cơ bản đến Toán
                                    lớp 2 nâng cao
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="h-item-grade">
                        <a href="/toan-lop-3" title="Lớp 3">
                            <div class="grade3">&nbsp;</div>
                        </a>
                        <div class="h-info-grade cap2">
                            <a href="/toan-lop-3" title="Toán lớp 3">
                                <div class="h-title-subject">Toán lớp 3</div>
                                <div class="h-title-intro">Toán lớp 3 cơ bản đến Toán
                                    lớp 3 nâng cao
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="h-item-grade">
                        <a href="/toan-lop-4" title="Lớp 4">
                            <div class="grade4">&nbsp;</div>
                        </a>
                        <div class="h-info-grade cap2">
                            <a href="/toan-lop-4" title="Toán lớp 4">
                                <div class="h-title-subject">Toán lớp 4</div>
                                <div class="h-title-intro">Toán lớp 4 cơ bản đến Toán
                                    lớp 4 nâng cao
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="h-item-grade">
                        <a href="/toan-lop-5" title="Lớp 5">
                            <div class="grade5">&nbsp;</div>
                        </a>
                        <div class="h-info-grade cap2">
                            <a href="/toan-lop-5" title="Toán lớp 5">
                                <div class="h-title-subject">
                                    Toán lớp 5 <img class="blink" style="vertical-align: middle;"
                                                    src="/assets/image/home/v2/label_video.png"/>
                                </div>
                                <div class="h-title-intro">Toán lớp 5 cơ bản đến Toán
                                    lớp 5 nâng cao
                                </div>
                            </a>

                        </div>
                    </div>

                    <div class="h-item-banner">
                        <a href="bai-giang/toan-lop-5"
                           title="Video bài giảng Toán lớp 5"> <img
                                src="/assets/image/baigiang/h-banner-video.png"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end animation -->
    </div>
    <!-- END SECSION CLASS -->
</div>
<!-- WRAPPER -->
<div id="footer" th:replace="user/sharedlayout/footer::footer"></div>
</body>
</html>