<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/sharedlayout/head-tag :: head-tag">
</head>
<body>
<!-- WRAPPER -->
<div class="wrapper">
    <div class="header_tb_opacity"></div>
    <!-- HEADER -->
    <div id="header">
        <div class="header-left">
            <a href="/index" title="Website mathematics online"></a>
        </div>
        <div class="thongbao_top" style="display: none;">
            Chú ý: Để đảm bảo quyền lợi và bảo vệ tài khoản của mình <br>Bạn
            hãy xác thực địa chỉ email đăng ký nhé. <a
                href="/tin-tuc/luyen-thi-123/thong-bao-xac-thuc-tai-khoan-234">Chi
            tiết xem tại đây</a>
        </div>
        <div class="header-right">
            <div class="header-member-act">
                <a class="f-act-login" href="/login" title="Đăng nhập hệ thống">Đăng
                    nhập</a> <a class="f-act-register" href="/dang-ky" title="Đăng ký">Đăng
                ký</a>
            </div>
        </div>
        <img class="top-head-cloud1" src="/assets/image/home/top-cloud1.png"/>
        <img class="top-head-cloud2" src="/assets/image/home/top-cloud2.png"/>
        <script src="/assets/js/header.js"></script>
    </div>

    <!-- MAIN - MENU -->
    <div id="main-menu">
        <div class="navigation_menu">
            <div class='nav_menu'>
                <ul>
                    <li class='p-has-sub ic_lophoc'><a><span>Lớp học</span></a>
                        <ul>
                            <li class='has-sub'><a href='/toan-lop-1'><span>Lớp
											1</span></a></li>
                            <li class='has-sub'><a href='/toan-lop-2'><span>Lớp
											2</span></a></li>
                            <li class='has-sub'><a href='/toan-lop-3'><span>Lớp
											3</span></a></li>
                            <li class='has-sub'><a href='/toan-lop-4'><span>Lớp
											4</span></a></li>
                            <li class='has-sub'><a href='/toan-lop-5'><span>Lớp
											5</span></a></li>
                        </ul>
                    </li>
                    <li class="ic_kiemtra"><a href='/de-kiem-tra/toan-lop-1'><span>Kiểm
									Tra</span></a></li>
                    <li class="ic_thidau"><a
                            href='/tin-tuc/huong-dan/gioi-thieu-ve-thi-dau-108'><span
                            style="line-height: 27px;">Thi đấu<span class="nav_new"></span></span></a></li>
                    <li class="ic_toanvui"><a href='/hoc-ma-choi'><span>Học
									mà chơi</span></a></li>
                    <li class="ic_huongdan"><a href='/goc-thong-thai'><span>Hỏi
									đáp</span></a></li>
                </ul>
                <div class="box_search">
                    <input id="inp_search" type="text" placeholder="Tìm kiếm"/>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN - MENU -->

    <div class="body_content">
        <div class="login_opactity"></div>
        <div>
            <div class="box_section">
                <div>
                    <div class="box_class_content_cen">
                        <div class="form-login-wcaptcha">
                            <h2>Đăng nhập</h2>
                            <div class="space20"></div>
                            <!--<div class="title-formlogin">Bạn đã nhập sai tên đăng nhập hoặc mật khẩu 5 lần. Để bảo mật hệ thống, xin bạn vui lòng đăng nhập lại kèm theo mã số bảo mật bên dưới.</div>
                    <div class="space20"></div>-->
                            <div class="form-content-login" style="height: 355px;">
                                <div class="frm-login-captcha">
                                    <p>Tên đăng nhập</p>
                                    <input class="us-capt" type="text" value=""/> <i
                                        class="us-error"></i>
                                    <p>Mật khẩu</p>
                                    <input class="pas-capt" type="password" value=""/> <i
                                        class="pas-error"></i>
                                    <div class="space20"></div>
                                    <input type="button" class="btn-login-captcha" value="Đăng nhập">
                                    <div class="space20"></div>
                                    <div class="option-ctl">
                                        <a href="/dang-ky">Đăng kí tài khoản mới</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <input id="c_url" type="hidden" value="">
            <link rel="stylesheet" href="/assets/css/loginfail.css"/>
            <div class="box_sidebar"></div>
            <div class="space10"></div>


            <div class="box_vst"></div>


            <div class="space10"></div>


            <div class="space10"></div>
        </div>
    </div>
</div>
</div>
<!-- WRAPPER -->

<!-- FOOTER  -->
<div id="footer">
    <div id="top-footer">
        <a href="/gioi-thieu" title="Giới thiệu">Giới thiệu</a>&nbsp&nbsp|&nbsp&nbsp
        <a href="/tin-tuc/huong-dan/cau-hoi-thuong-gap-59"
           title="Hướng dẫn">Câu hỏi thường gặp</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
        <a href="/de-kiem-tra/toan-lop-1" title="Kiểm tra">Kiểm tra</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
        <!--<a href="" title="Giới thiệu">Thi đấu</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp-->
        <a href="/hoc-ma-choi" title="Học mà chơi">Học mà chơi</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
        <!--<a href="" title="Giới thiệu">Bác học nhí</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp-->
        <a href="/tin-tuc" title="Tin tức">Tin tức</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
        <a href="/tin-tuc/huong-dan/quy-dinh-su-dung-109" title="Tin tức">Quy
            định sử dụng</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp <a
            href="/tin-tuc/huong-dan/chinh-sach-bao-mat-148" title="Tin tức">Chính
        sách bảo mật</a>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp <a href="/lien-he"
                                                           title="Liên hệ">Góp ý - Liên hệ</a>

    </div>

    <div id="bottom-footer">
        <a class="b_logo" href="/index"></a>
        <div class="info_foo">
            <p class="foo_text_info">
                Website mathematics online - a product of BeOnline Co., Ltd.<br/>
            </p>
            <div class="space5"></div>
            <p class="foo_add">
                Tel: 0123456896 - 02436628077
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Email:
                hotro@Website_mathematics_online.com<br/>Địa chỉ: Khu phố 6, P.
                Linh Trung, Q. Thủ Đức, TP.HCM.
            </p>
        </div>
        <div class="social_foo"></div>
    </div>
</div>
</div>
<!-- END FOOTER -->
</body>
</html>