<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/sharedlayout/head-tag :: head-tag">
    <title>Website mathematics online</title>
</head>
<body>
<!-- WRAPPER -->
<div class="wrapper">
    <div class="header_tb_opacity"></div>
    <!-- HEADER -->
    <div id="header" th:replace="user/sharedlayout/header::header"></div>


    <!-- MAIN - MENU -->
    <div id="main-menu" th:replace="user/sharedlayout/menu :: menu"></div>
    
    
     <link rel="stylesheet" href="/assets/css/visaothe.css" />
<script>
    $(document).keyup(function (e) {
        var code = e.keyCode ? e.keyCode : e.which;
        if ($(".__searchvst input").is(":focus") && code == 13) {
            var key = $(".__searchvst input").val();
            key = remove_vietnamese(key.toLocaleLowerCase(), '+');
            window.location.href = "https://www.luyenthi123.com//tin-tuc?key=" + encodeURI(key);
        }
    });
</script>
<div class="body_content">
    <div class="_boxcontent">
        <div class="navigation_tree" style="padding: 20px 0 5px 30px;"><a class="nav_tree_links" href="/index">Home</a><a href="/tin-tuc" class="nav_tree_links_ac">Tin tức</a></div>
        <div class="box_section">
            <div class="class_content_cen">
                <div class="box_class_content_cen" style="min-height:500px; width:100%;float:left;position: relative;z-index: 0;">
                    <div class="header-vst">
                        <div class="_toptitle _lifted">Tin tức</div><span class="__title_right"></span>
                        <div class="space10"></div>
                        <div class="__searchvst"><input type="text" placeholder="Tìm kiếm" value=""></div>
                    </div>
                    
                    <div class="list-post-vst">
                        
                        <div class="show-list-post-vst">
                            <a class="__imgvst" href="/tin-tuc/luyen-thi-123/huong-dan-tao-gmail-296">
                            <div class="__itemvst">
                                <img src="/assets/tintuc/luyenthi/dangkygmail/banner_huongdan.png" width="164" height="111">
                                <div class="__contentvst">
                                    <p class="title_post">Hướng dẫn tạo tài khoản Gmail</p>
                                    <p class="time_post">Đăng lúc: 15-02-2017</p>
                                    <p class="__detailsvst">Hướng dẫn tạo tài khoản Gmail</p>
                                </div>
                            </div>
                            </a>
                        </div>
                        
                        <div class="show-list-post-vst">
                            <a class="__imgvst" href="/tin-tuc/luyen-thi-123/thong-bao-ve-viec-bao-mat-tai-khoan-295">
                            <div class="__itemvst">
                                <img src="/assets/tintuc/luyenthi/baomattaikhoan/thongbao_baomat.jpg" width="164" height="111">
                                <div class="__contentvst">
                                    <p class="title_post">Thông báo về việc bảo mật tài khoản</p>
                                    <p class="time_post">Đăng lúc: 15-02-2017</p>
                                    <p class="__detailsvst">Thông báo về việc bảo mật tài khoản</p>
                                </div>
                            </div>
                            </a>
                        </div>
                        
                        <div class="show-list-post-vst">
                            <a class="__imgvst" href="/tin-tuc/huong-dan/chinh-sach-bao-mat-148">
                            <div class="__itemvst">
                                <img src="/assets/tintuc/huongdan/chung/chinhsachbaomat/banner_huongdan.png" width="164" height="111">
                                <div class="__contentvst">
                                    <p class="title_post">Chính sách bảo mật</p>
                                    <p class="time_post">Đăng lúc: 10-10-2016</p>
                                    <p class="__detailsvst">Chính sách bảo mật</p>
                                </div>
                            </div>
                            </a>
                        </div>
                        
                        <div class="show-list-post-vst">
                            <a class="__imgvst" href="/tin-tuc/huong-dan/quy-dinh-su-dung-109">
                            <div class="__itemvst">
                                <img src="/assets/tintuc/huongdan/chung/quydinhsudung/banner_huongdan.png" width="164" height="111">
                                <div class="__contentvst">
                                    <p class="title_post">Quy định sử dụng và trao đổi thông tin trên Luyenthi123.com và Luyenthi123.vn</p>
                                    <p class="time_post">Đăng lúc: 01-09-2016</p>
                                    <p class="__detailsvst">Quy định sử dụng và trao đổi thông tin trên Luyenthi123.com và Luyenthi123.vn</p>
                                </div>
                            </div>
                            </a>
                        </div>
                        
                        <div class="show-list-post-vst">
                            <a class="__imgvst" href="/tin-tuc/huong-dan/gioi-thieu-ve-thi-dau-108">
                            <div class="__itemvst">
                                <img src="/assets/tintuc/huongdan/chung/gioithieuthidau/img-thidau.png" width="164" height="111">
                                <div class="__contentvst">
                                    <p class="title_post">Giới thiệu về thi đấu</p>
                                    <p class="time_post">Đăng lúc: 31-08-2016</p>
                                    <p class="__detailsvst">Giới thiệu về thi đấu</p>
                                </div>
                            </div>
                            </a>
                        </div>
                        
                        <div class="show-list-post-vst">
                            <a class="__imgvst" href="/tin-tuc/huong-dan/tim-hieu-ve-hat-de-diem-thanh-tich-diem-danh-hieu-107">
                            <div class="__itemvst">
                                <img src="/assets/tintuc/huongdan/chung/timhieuvediem/banner_huongdan.png" width="164" height="111">
                                <div class="__contentvst">
                                    <p class="title_post">Tìm hiêu về hạt dẻ, điểm thành tích, điểm danh hiệu</p>
                                    <p class="time_post">Đăng lúc: 31-08-2016</p>
                                    <p class="__detailsvst">Tìm hiêu về hạt dẻ, điểm thành tích, điểm danh hiệu</p>
                                </div>
                            </div>
                            </a>
                        </div>
                        
                        <div class="show-list-post-vst">
                            <a class="__imgvst" href="/tin-tuc/huong-dan/cau-hoi-thuong-gap-59">
                            <div class="__itemvst">
                                <img src="/assets/tintuc/huongdan/chung/faq/banner_huongdan.png" width="164" height="111">
                                <div class="__contentvst">
                                    <p class="title_post">Câu hỏi thường gặp</p>
                                    <p class="time_post">Đăng lúc: 07-07-2016</p>
                                    <p class="__detailsvst">Những thắc mắc phổ biến mà học sinh hay gặp phải</p>
                                </div>
                            </div>
                            </a>
                        </div>
                        
                        <div class="show-list-post-vst">
                            <a class="__imgvst" href="/tin-tuc/huong-dan/huong-dan-chon-lop-bat-dau-hoc-58">
                            <div class="__itemvst">
                                <img src="/assets/tintuc/huongdan/chung/huongdanchonlop/banner_huongdan.png" width="164" height="111">
                                <div class="__contentvst">
                                    <p class="title_post">Hướng dẫn học với LuyệnThi123</p>
                                    <p class="time_post">Đăng lúc: 06-07-2016</p>
                                    <p class="__detailsvst">Chương trình Luyenthi123.com giúp các bạn ôn và luyện tập lại các kiến thức được học trên lớp một cách hệ thống và đầy đủ, qua những bài tập với các cấp độ từ Dễ đến Khó để các bạn có thể từ từ nâng cao và nắm vững kiến thức đã được học...</p>
                                </div>
                            </div>
                            </a>
                        </div>
                        
                        <div class="space10"></div>

                    </div>
                    <script>
                        if (window.location.pathname.split("index.html")[1] == 'tin-tuc') {
                            $('.__searchvst').remove();
                        }
                    </script>
                    

                                       
                    <div class="_PAGINATION"></div>
                     
                </div>
            </div>
        </div>
        
       
        
        
    </div>
    
    
    
   <!-- WRAPPER -->
<div id="footer" th:replace="user/sharedlayout/footer::footer"></div>
</body>
