<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/sharedlayout/head-tag :: head-tag">
    <title>Website mathematics online</title>
</head>
<body>
<!-- WRAPPER -->
<div class="wrapper">
    <div class="header_tb_opacity"></div>
    <!-- HEADER -->
    <div id="header" th:replace="user/sharedlayout/header::header"></div>


    <!-- MAIN - MENU -->
    <div id="main-menu" th:replace="user/sharedlayout/menu :: menu"></div>
    
<link rel="stylesheet" href="/assets/css/h_hmc.css" />
<div class="body_content">
    <div class="_boxcontent">
        <div class="navigation_tree"><a class="nav_tree_links" href="index.html">Home</a><a href="hoc-ma-choi.html" class="nav_tree_links_ac">Học mà chơi</a></div>
        <div class="box_section">
                <div class="box_class_content_cen home_hocmachoi">
                     
                          
                        <div class="hkb_cats">
                            <a class="hk_link_cat" title="Các bài toán đố vui mỗi ngày. Các bạn hãy thử giải và gửi đáp án để so sánh với các bạn khác. Lời giải sẽ được công bố vào ngày hôm sau." href="toan-vui-moi-ngay/1490-hmc-toan-vui-moi-ngay-so-535.html">
                                <div class="hk_name_cat">Toán vui mỗi ngày</div>    
                                <div class="hk_introduce_cat">Các bài toán đố vui mỗi ngày. Các bạn hãy thử giải và gửi đáp án để so sánh với các bạn khác. Lời giải sẽ được công bố vào ngày hôm sau.</div>
                            </a>
                            <div class="_content">
                                <a class="hk_link_cat" title="Một cửa hàng rau quả có 5 rổ đựng cam và chanh (trong mỗi rổ chỉ đựng một loại quả). Số quả trong mỗi rổ lần lượt là: 104; 115; 132; 136..." href="toan-vui-moi-ngay/1490-hmc-toan-vui-moi-ngay-so-535.html">
                                    <div class="lesson_img"><img src="/assets/hocmachoi/quiz_day/so535/so535.jpg"></div>
                                </a>
                                <div class="lesson_detail">
                                    <a class="hk_link_cat" title="Một cửa hàng rau quả có 5 rổ đựng cam và chanh (trong mỗi rổ chỉ đựng một loại quả). Số quả trong mỗi rổ lần lượt là: 104; 115; 132; 136..." href="toan-vui-moi-ngay/1490-hmc-toan-vui-moi-ngay-so-535.html">
                                        <div class="title_lesson">Toán vui mỗi ngày - Số 535</div>
                                        <div class="intro_lesson">Một cửa hàng rau quả có 5 rổ đựng cam và chanh (trong mỗi rổ chỉ đựng một loại quả). Số quả trong mỗi rổ lần lượt là: 104; 115; 132; 136...</div>
                                    </a>
                                    <div class="hkb_lessons">
                                         
                                        <a class="hk_link_lesson" title="Toán vui mỗi ngày - Số 534 Một hầm cá hình chữ nhật có chiều dài 16m, chiều rộng bằng 1/4  chiều dài. Người ta dùng trụ đá để làm hàng rào kẻm gai xung quanh hầm, biết trụ này cách trụ kia 2m. Giá mỗi trụ đá là 12000 đồng.Hỏi người ta tốn bao nhiêu tiền mua trụ đá để làm hàng rào?" href="toan-vui-moi-ngay/1482-hmc-toan-vui-moi-ngay-so-534.html"><div class="hk_items_lesson"></div><div class="hk_name_lesson">Toán vui mỗi ngày - Số 534</div></a>
                                         
                                        <a class="hk_link_lesson" title="Một phân xưởng có 8 công nhân dự kiến hoàn thành công việc trong 24 ngày. Để hoàn thành công việc sớm hơn, người ta đã điều thêm 4 người nữa để cùng làm. Hỏi họ sẽ hoàn thành công việc đó trong bao nhiêu ngày?" href="toan-vui-moi-ngay/1481-hmc-toan-vui-moi-ngay-so-533.html"><div class="hk_items_lesson"></div><div class="hk_name_lesson">Toán vui mỗi ngày - Số 533</div></a>
                                         
                                        <a class="hk_link_lesson" title="Toán vui mỗi ngày - Số 532 Trên một cây cầu dài 15 m, người ta trồng những cây trụ làm lan can ở 2 bên cầu. Biết cây này cách cây kia 1,5m và làm ở cả 2 đầu cầu. Hỏi người ta cần bao nhiêu cây trụ để làm lan can?" href="toan-vui-moi-ngay/1480-hmc-toan-vui-moi-ngay-so-532.html"><div class="hk_items_lesson"></div><div class="hk_name_lesson">Toán vui mỗi ngày - Số 532</div></a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                          
                        <div class="hkb_cats">
                            <a class="hk_link_cat" title="Bài toán đố vui mỗi tuần có thưởng hạt dẻ. Các bạn hãy gửi đáp án đúng và nhanh nhất trong khoảng thời gian cho phép. Đáp án và danh sách các bạn đạt giải sẽ được công bố vào tuần kế tiếp" href="toan-vui-moi-tuan/1506-hmc-toan-vui-moi-tuan-so-82.html">
                                <div class="hk_name_cat">Toán vui mỗi tuần</div>    
                                <div class="hk_introduce_cat">Bài toán đố vui mỗi tuần có thưởng hạt dẻ. Các bạn hãy gửi đáp án đúng và nhanh nhất trong khoảng thời gian cho phép. Đáp án và danh sách các bạn đạt giải sẽ được công bố vào tuần kế tiếp</div>
                            </a>
                            <div class="_content">
                                <a class="hk_link_cat" title="Khi nhân một số với 124, một bạn học sinh đã đặt các tích riêng thẳng cột với nhau nên dẫn đến kết quả sai là 88,2. Em hãy tìm kết quả..." href="toan-vui-moi-tuan/1506-hmc-toan-vui-moi-tuan-so-82.html">
                                    <div class="lesson_img"><img src="/assets/hocmachoi/quiz_week/so82/so82.jpg"></div>
                                </a>
                                <div class="lesson_detail">
                                    <a class="hk_link_cat" title="Khi nhân một số với 124, một bạn học sinh đã đặt các tích riêng thẳng cột với nhau nên dẫn đến kết quả sai là 88,2. Em hãy tìm kết quả..." href="toan-vui-moi-tuan/1506-hmc-toan-vui-moi-tuan-so-82.html">
                                        <div class="title_lesson">Toán vui mỗi tuần - Số 82</div>
                                        <div class="intro_lesson">Khi nhân một số với 124, một bạn học sinh đã đặt các tích riêng thẳng cột với nhau nên dẫn đến kết quả sai là 88,2. Em hãy tìm kết quả...</div>
                                    </a>
                                    <div class="hkb_lessons">
                                         
                                        <a class="hk_link_lesson" title="Có hai túi kẹo. Số kẹo của túi thứ nhất bằng 4545 số kẹo của túi thứ hai. Nếu chuyển 10 cái kẹo từ túi thứ nhất sang túi thứ hai thì khi đó số kẹo của túi thứ nhất bằng 1212 số kẹo của túi thứ hai. Tính số kẹo lúc đầu ở mỗi túi." href="toan-vui-moi-tuan/1505-hmc-toan-vui-moi-tuan-so-81.html"><div class="hk_items_lesson"></div><div class="hk_name_lesson">Toán vui mỗi tuần - Số 81</div></a>
                                         
                                        <a class="hk_link_lesson" title="Toán vui mỗi tuần - Số 80 Hiện nay tổng số tuổi của hai anh em là 63 tuổi. Biết khi tuổi anh bằng tuổi em hiện nay thì tuổi em hồi đó chỉ bằng nửa tuổi anh hiện nay. Tính tuổi mỗi người hiện nay?" href="toan-vui-moi-tuan/1504-hmc-toan-vui-moi-tuan-so-80.html"><div class="hk_items_lesson"></div><div class="hk_name_lesson">Toán vui mỗi tuần - Số 80</div></a>
                                         
                                        <a class="hk_link_lesson" title="Lần thứ nhất, một cửa hàng gạo đã bán đi một nửa số gạo có trong kho. Lần thứ hai bán tiếp một phần ba số gạo còn lại. Sau hai lần bán, số gạo trong kho chỉ còn 20 tạ. Hỏi ban đầu trong kho có bao nhiêu tạ gạo?" href="toan-vui-moi-tuan/1492-hmc-toan-vui-moi-tuan-so-79.html"><div class="hk_items_lesson"></div><div class="hk_name_lesson">Toán vui mỗi tuần - Số 79</div></a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                          
                     
                </div>
        </div>
       
        
    </div>
    
  
  
      <!-- WRAPPER -->
<div id="footer" th:replace="user/sharedlayout/footer::footer"></div>
</body>