<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/sharedlayout/head-tag :: head-tag">
    <title>Website mathematics online</title>
</head>
<body>
<!-- WRAPPER -->
<div class="wrapper">
    <div class="header_tb_opacity"></div>
    <!-- HEADER -->
    <div id="header" th:replace="user/sharedlayout/header::header"></div>


    <!-- MAIN - MENU -->
    <div id="main-menu" th:replace="user/sharedlayout/menu :: menu"></div>

     <script type="text/javascript">
//next - prev các bài học liên quan
    function do_control(act, cat_id, p, limit) {
        $('.__morepost_mq').load('https://www.Website mathematics online/act/get_more_lesson?action=' + act + '&cat_id=' + cat_id + '&limit=' + limit + '&p=' + p + '&time=' + Math.random());
        return false;
    }
</script>
<link rel="stylesheet" href="/assets/css/h_hmc.css" />
<link rel="stylesheet" href="/assets/css/mathquiz.css" />
<link rel="stylesheet" href="/assets/css/member.css" />
<div class="body_content">
    <div class="_boxcontent">
        <div class="navigation_tree"><a class="nav_tree_links" href="index.html">Home</a><a class="nav_tree_links" href="hoc-ma-choi.html">Học mà chơi</a><a href="toan-vui-moi-tuan.html" class="nav_tree_links_ac">Toán vui mỗi tuần</a></div>
        <div class="box_section">
            <div class="class_content_cen">
                <div class="box_class_content_cen" style="min-height:500px; width:100%;float:left;position: relative;z-index: 0;">
                    <div class="header-mq">
                        <div class="title_post">Toán vui mỗi tuần</div>
                    </div>

                    <div class="__showpost_mq">
                            
                        <div class="__morepost_mq" style="border-top:none;">
                            <p class="__titlemore_mq">Các câu hỏi kỳ khác</p>
                            <div class="__boxmorepost">
                                
                                <div class="__itemmore_mq">
                                    <a href="toan-vui-moi-tuan/1506-hmc-toan-vui-moi-tuan-so-82.html"><img class="_img" width="220" height="130" src="/assets/hocmachoi/quiz_week/so82/so82.jpg"></a>
                                    <div class="_detail">
                                        <a href="toan-vui-moi-tuan/1506-hmc-toan-vui-moi-tuan-so-82.html"><div class="_link">Toán vui mỗi tuần - Số 82</div></a>
                                        <a href="toan-vui-moi-tuan/1506-hmc-toan-vui-moi-tuan-so-82.html"><div class="_intro">Khi nhân một số với 124, một bạn học sinh đã đặt các tích riêng thẳng cột...</div></a>
                                    </div>
                                </div>
                                
                                <div class="__itemmore_mq">
                                    <a href="toan-vui-moi-tuan/1505-hmc-toan-vui-moi-tuan-so-81.html"><img class="_img" width="220" height="130" src="/assets/hocmachoi/quiz_week/so81/so81.jpg"></a>
                                    <div class="_detail">
                                        <a href="toan-vui-moi-tuan/1505-hmc-toan-vui-moi-tuan-so-81.html"><div class="_link">Toán vui mỗi tuần - Số 81</div></a>
                                        <a href="toan-vui-moi-tuan/1505-hmc-toan-vui-moi-tuan-so-81.html"><div class="_intro">Có hai túi kẹo. Số kẹo của túi thứ nhất bằng 4545 số kẹo của túi thứ hai....</div></a>
                                    </div>
                                </div>
                                
                                <div class="__itemmore_mq">
                                    <a href="toan-vui-moi-tuan/1504-hmc-toan-vui-moi-tuan-so-80.html"><img class="_img" width="220" height="130" src="/assets/hocmachoi/quiz_week/so80/so80.png"></a>
                                    <div class="_detail">
                                        <a href="toan-vui-moi-tuan/1504-hmc-toan-vui-moi-tuan-so-80.html"><div class="_link">Toán vui mỗi tuần - Số 80</div></a>
                                        <a href="toan-vui-moi-tuan/1504-hmc-toan-vui-moi-tuan-so-80.html"><div class="_intro">Toán vui mỗi tuần - Số 80 Hiện nay tổng số tuổi của hai anh em là 63 tuổi....</div></a>
                                    </div>
                                </div>
                                
                                <div class="__itemmore_mq">
                                    <a href="toan-vui-moi-tuan/1492-hmc-toan-vui-moi-tuan-so-79.html"><img class="_img" width="220" height="130" src="/assets/hocmachoi/quiz_week/so79/so79.jpg"></a>
                                    <div class="_detail">
                                        <a href="toan-vui-moi-tuan/1492-hmc-toan-vui-moi-tuan-so-79.html"><div class="_link">Toán vui mỗi tuần - Số 79</div></a>
                                        <a href="toan-vui-moi-tuan/1492-hmc-toan-vui-moi-tuan-so-79.html"><div class="_intro">Lần thứ nhất, một cửa hàng gạo đã bán đi một nửa số gạo có trong kho....</div></a>
                                    </div>
                                </div>
                                
                                <div class="__itemmore_mq">
                                    <a href="toan-vui-moi-tuan/1491-hmc-toan-vui-moi-tuan-so-78.html"><img class="_img" width="220" height="130" src="/assets/hocmachoi/quiz_week/so78/so78.png"></a>
                                    <div class="_detail">
                                        <a href="toan-vui-moi-tuan/1491-hmc-toan-vui-moi-tuan-so-78.html"><div class="_link">Toán vui mỗi tuần - Số 78</div></a>
                                        <a href="toan-vui-moi-tuan/1491-hmc-toan-vui-moi-tuan-so-78.html"><div class="_intro">Toán vui mỗi tuần - Số 78 An đọc một quyển truyện trong 3 ngày. Ngày thứ nhất...</div></a>
                                    </div>
                                </div>
                                
                                <div class="__itemmore_mq">
                                    <a href="toan-vui-moi-tuan/1475-hmc-toan-vui-moi-tuan-so-77.html"><img class="_img" width="220" height="130" src="/assets/hocmachoi/quiz_week/so77/so77.jpg"></a>
                                    <div class="_detail">
                                        <a href="toan-vui-moi-tuan/1475-hmc-toan-vui-moi-tuan-so-77.html"><div class="_link">Toán vui mỗi tuần - Số 77</div></a>
                                        <a href="toan-vui-moi-tuan/1475-hmc-toan-vui-moi-tuan-so-77.html"><div class="_intro">Người ta chuyển hết số sách trên xe ô tô vào thư viện. Đợt một chuyển 1/4...</div></a>
                                    </div>
                                </div>
                                
                                <div class="__itemmore_mq">
                                    <a href="toan-vui-moi-tuan/1452-hmc-toan-vui-moi-tuan-so-76.html"><img class="_img" width="220" height="130" src="/assets/hocmachoi/quiz_week/so76/so76.png"></a>
                                    <div class="_detail">
                                        <a href="toan-vui-moi-tuan/1452-hmc-toan-vui-moi-tuan-so-76.html"><div class="_link">Toán vui mỗi tuần - Số 76</div></a>
                                        <a href="toan-vui-moi-tuan/1452-hmc-toan-vui-moi-tuan-so-76.html"><div class="_intro">Toán vui mỗi tuần - Số 76 Năm 1997, cha 34 tuổi, con 10 tuổi. Hỏi năm nào, tuổi...</div></a>
                                    </div>
                                </div>
                                
                                <div class="__itemmore_mq">
                                    <a href="toan-vui-moi-tuan/1445-hmc-toan-vui-moi-tuan-so-75.html"><img class="_img" width="220" height="130" src="/assets/hocmachoi/quiz_week/so75/so75.jpg"></a>
                                    <div class="_detail">
                                        <a href="toan-vui-moi-tuan/1445-hmc-toan-vui-moi-tuan-so-75.html"><div class="_link">Toán vui mỗi tuần - Số 75</div></a>
                                        <a href="toan-vui-moi-tuan/1445-hmc-toan-vui-moi-tuan-so-75.html"><div class="_intro">Hai người cùng làm 8 giờ thì xong một công việc. Người thứ nhất làm 3/4 công...</div></a>
                                    </div>
                                </div>
                                
                                <div class="__itemmore_mq">
                                    <a href="toan-vui-moi-tuan/1434-hmc-toan-vui-moi-tuan-so-508.html"><img class="_img" width="220" height="130" src="/assets/hocmachoi/quiz_week/so74/so74.png"></a>
                                    <div class="_detail">
                                        <a href="toan-vui-moi-tuan/1434-hmc-toan-vui-moi-tuan-so-508.html"><div class="_link">Toán vui mỗi tuần - Số 74</div></a>
                                        <a href="toan-vui-moi-tuan/1434-hmc-toan-vui-moi-tuan-so-508.html"><div class="_intro">Toán vui mỗi tuần - Số 74 Cho phân số 23/45. Hỏi phải cộng thêm vào tử số và...</div></a>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="space10"></div>
                            
                            <div class="pagination">
                                <div class="back" title="Trang trước">Trang trước</div><a href="#" onclick="return do_control('next',8524,1,9);"><div class="next" title="Trang sau">Trang sau</div></a>
                            </div>
                            
                        </div>
                        
                    </div>

                </div>
            </div>

        </div>
    
    </div>
    
    
</div>

<!--JS CHO BANG VANG THANG-->
<!--<script src="http://dev.Website mathematics online//assets/js/bjqs.min.js"></script>
<script>
                jQuery(document).ready(function ($) {
                    // =========== parse slider ==========
                    $('._renslider').each(function (i, e) {
                        $(this).bjqs({
                            animtype: 'slide',
                            height: $(this).height(),
                            width: $(this).width(),
                            automatic: false,
                            responsive: false,
                            randomstart: false
                        });
                    });
                });
</script>-->
<script>
$(function(){
    $('.cancel_hd_reply').live('click',function(){
       $(this).parents('.action_reply_hoidap').hide();
       var id = $(this).attr("id");
       $(".ques span[id="+ id +"]").html(txtreplyold);
    });
  })
</script>
    </div>

<!-- WRAPPER -->


    
    
    
    
  <!-- WRAPPER -->
<div id="footer" th:replace="user/sharedlayout/footer::footer"></div>
</body>