<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/sharedlayout/head-tag :: head-tag">
    <title>Website mathematics online</title>
</head>
<body>
<!-- WRAPPER -->
<div class="wrapper">
    <div class="header_tb_opacity"></div>
    <!-- HEADER -->
    <div id="header" th:replace="user/sharedlayout/header::header"></div>


    <!-- MAIN - MENU -->
    <div id="main-menu" th:replace="user/sharedlayout/menu :: menu"></div>
     <link rel="stylesheet" type="text/css" href="/assets/css/contact_us.css">
     

<div class="body_content">
    <link rel="stylesheet" href="/assets/css/pvc_monhoc9713.css?vs=1" />
    <div class="_boxcontent">
        <div class="navigation_tree"><a class="nav_tree_links" href="index.html">Home</a><a class="nav_tree_links" href="lop-1.html">Lớp 1</a><a href="toan-lop-1.html" class="nav_tree_links_ac">Toán lớp 1</a></div>
        <div class="box_section">
            <div class="pvc_box_banner">
                <a class="sub-banner" href="toan-lop-1.html" title="Toán lớp 1"><img src="/assets/image/banner/banner-subject.png" style="margin-left: 17px;"/><span>Toán lớp 1</span></a>

                
            </div>
            <div class="pvc_content_list _practice" >
                <div class="_pvctit1">DANH MỤC CHƯƠNG TRÌNH Toán lớp 1</div><a onclick="return reload_page()" class="_pvc_link_bkt" >Bài kiểm tra</a>
                
                
                <div class="pvc_content_box_list">
                    
                    <div class="pvc_content_box_list_left">
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">Chương 1: Các số đến 10. Hình vuông, hình tròn, hình tam giác</h4>
                            <ul class="pvc_ul_item">
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/nhieu-hon-it-hon.html" title="Nhiều hơn, ít hơn" class="_afree">
                                        Nhiều hơn, ít hơn
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/hinh-vuong-hinh-tron-hinh-tam-giac.html" title="Hình vuông, hình tròn, hình tam giác" class="_afree">
                                        Hình vuông, hình tròn, hình tam giác
                                        
                                        
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/cac-so-1-2-3.html" title="Các số 1, 2, 3" class="_afree">
                                        Các số 1, 2, 3
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/cac-so-1-2-3-4-5.html" title="Các số 1, 2, 3, 4, 5" class="_afree">
                                        Các số 1, 2, 3, 4, 5
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/be-hon-dau-lon-hon-dau-bang-nhau-dau.html" title="Bé hơn, dấu <. Lớn hơn, dấu >. Bằng nhau, dấu =" class="_afree">
                                        Bé hơn, dấu <. Lớn hơn, dấu >. Bằng nhau, dấu =
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/so-6.html" title="Số 6" class="_afree">
                                        Số 6
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/so-7.html" title="Số 7" class="_afree">
                                        Số 7
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/so-8.html" title="Số 8" class="_afree">
                                        Số 8
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/so-9.html" title="Số 9" class="_afree">
                                        Số 9
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/so-0.html" title="Số 0" class="_afree">
                                        Số 0
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/so-10.html" title="Số 10" class="_afree">
                                        Số 10
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/kiem-tra-chuong-1-l1.html" title="Kiểm tra chương 1." class="_afree">
                                        Kiểm tra chương 1.
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">Chương 2 : Phép cộng, phép trừ trong phạm vi 10.</h4>
                            <ul class="pvc_ul_item">
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/phep-cong-trong-pham-vi-3.html" title="Phép cộng trong phạm vi 3" class="_afree">
                                        Phép cộng trong phạm vi 3
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/phep-cong-trong-pham-vi-4.html" title="Phép cộng trong phạm vi 4" class="_afree">
                                        Phép cộng trong phạm vi 4
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/phep-cong-trong-pham-vi-5.html" title="Phép cộng trong phạm vi 5" class="_afree">
                                        Phép cộng trong phạm vi 5
                                        
                                        	
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/so-0-trong-phep-cong.html" title="Số 0 trong phép cộng" class="_afree">
                                        Số 0 trong phép cộng
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/phep-tru-trong-pham-vi-3.html" title="Phép trừ trong phạm vi 3" class="_afree">
                                        Phép trừ trong phạm vi 3
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/phep-tru-trong-pham-vi-4.html" title="Phép trừ trong phạm vi 4" class="_afree">
                                        Phép trừ trong phạm vi 4
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/phep-tru-trong-pham-vi-5.html" title="Phép trừ trong phạm vi 5" class="_afree">
                                        Phép trừ trong phạm vi 5
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/so-0-trong-phep-tru.html" title="Số 0 trong phép trừ" class="_afree">
                                        Số 0 trong phép trừ
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/phep-cong-trong-pham-vi-6.html" title="Phép cộng trong phạm vi 6" class="_afree">
                                        Phép cộng trong phạm vi 6
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/phep-tru-trong-pham-vi-6.html" title="Phép trừ trong phạm vi 6" class="_afree">
                                        Phép trừ trong phạm vi 6
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/phep-cong-trong-pham-vi-7.html" title="Phép cộng trong phạm vi 7" class="_afree">
                                        Phép cộng trong phạm vi 7
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/phep-tru-trong-pham-vi-7.html" title="Phép trừ trong phạm vi 7" class="_afree">
                                        Phép trừ trong phạm vi 7
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/phep-cong-trong-pham-vi-8.html" title="Phép cộng trong phạm vi 8" class="_afree">
                                        Phép cộng trong phạm vi 8
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/phep-tru-trong-pham-vi-8.html" title="Phép trừ trong phạm vi 8" class="_afree">
                                        Phép trừ trong phạm vi 8
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/phep-cong-trong-pham-vi-9.html" title="Phép cộng trong phạm vi 9" class="_afree">
                                        Phép cộng trong phạm vi 9
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/phep-tru-trong-pham-vi-9.html" title="Phép trừ trong phạm vi 9" class="_afree">
                                        Phép trừ trong phạm vi 9
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/phep-cong-trong-pham-vi-10.html" title="Phép cộng trong phạm vi 10" class="_afree">
                                        Phép cộng trong phạm vi 10
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/phep-tru-trong-pham-vi-10.html" title="Phép trừ trong phạm vi 10" class="_afree">
                                        Phép trừ trong phạm vi 10
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/bang-cong-va-bang-tru-trong-pham-vi-10.html" title="Bảng cộng và bảng trừ trong phạm vi 10" class="_afree">
                                        Bảng cộng và bảng trừ trong phạm vi 10
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/kiem-tra-cuoi-ki-1-l1.html" title="Kiểm tra cuối kì 1" class="_afree">
                                        Kiểm tra cuối kì 1
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                    </div>   

                    <div class="pvc_content_box_list_right">
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">Chương 3 : Các số trong phạm vi 100. Đo độ dài. Giải bài toán</h4>
                            <ul class="pvc_ul_item">
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/diem-doan-thang-do-dai-doan-thang.html" title="Điểm - Đoạn thẳng - Độ dài đoạn thẳng" class="_afree">
                                        Điểm - Đoạn thẳng - Độ dài đoạn thẳng
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/mot-chuc-tia-so.html" title="Một chục. Tia số" class="_afree">
                                        Một chục. Tia số
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/muoi-mot-muoi-hai.html" title="Mười một, mười hai" class="_afree">
                                        Mười một, mười hai
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/muoi-ba-muoi-bon-muoi-lam.html" title="Mười ba, mười bốn, mười lăm" class="_afree">
                                        Mười ba, mười bốn, mười lăm
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/muoi-sau-muoi-bay-muoi-tam-muoi-chin.html" title="Mười sáu, mười bảy, mười tám, mười chín" class="_afree">
                                        Mười sáu, mười bảy, mười tám, mười chín
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/hai-muoi-hai-chuc.html" title="Hai mươi. Hai chục" class="_afree">
                                        Hai mươi. Hai chục
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/phep-cong-dang-14-3.html" title="Phép cộng dạng 14 + 3" class="_afree">
                                        Phép cộng dạng 14 + 3
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/phep-tru-dang-17-3.html" title="Phép trừ dạng 17 - 3" class="_afree">
                                        Phép trừ dạng 17 - 3
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/phep-tru-dang-17-7.html" title="Phép trừ dạng 17 - 7" class="_afree">
                                        Phép trừ dạng 17 - 7
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/bai-toan-co-loi-van-giai-toan-co-loi-van.html" title="Bài toán có lời văn. Giải toán có lời văn" class="_afree">
                                        Bài toán có lời văn. Giải toán có lời văn
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/xang-ti-met-do-do-dai.html" title="Xăng-ti-mét. Đo độ dài" class="_afree">
                                        Xăng-ti-mét. Đo độ dài
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/cac-so-tron-chuc.html" title="Các số tròn chục" class="_afree">
                                        Các số tròn chục
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/cong-cac-so-tron-chuc.html" title="Cộng các số tròn chục" class="_afree">
                                        Cộng các số tròn chục
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/tru-cac-so-tron-chuc.html" title="Trừ các số tròn chục" class="_afree">
                                        Trừ các số tròn chục
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/diem-o-trong-diem-o-ngoai-mot-hinh.html" title="Điểm ở trong, điểm ở ngoài một hình" class="_afree">
                                        Điểm ở trong, điểm ở ngoài một hình
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/cac-so-co-hai-chu-so.html" title="Các số có hai chữ số" class="_afree">
                                        Các số có hai chữ số
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/so-sanh-cac-so-co-hai-chu-so.html" title="So sánh các số có hai chữ số" class="_afree">
                                        So sánh các số có hai chữ số
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/bang-cac-so-tu-1-den-100.html" title="Bảng các số từ 1 đến 100" class="_afree">
                                        Bảng các số từ 1 đến 100
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/giai-toan-co-loi-van-tiep-theo.html" title="Giải toán có lời văn (tiếp theo)" class="_afree">
                                        Giải toán có lời văn (tiếp theo)
                                        
                    
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/kiem-tra-chuong-3-l1.html" title="Kiểm tra chương 3" class="_afree">
                                        Kiểm tra chương 3
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">Chương 4 : Phép cộng phép trừ trong phạm vi 100. Đo thời gian</h4>
                            <ul class="pvc_ul_item">
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/phep-cong-khong-nho-trong-pham-vi-100.html" title="Phép cộng (không nhớ) trong phạm vi 100" class="_afree">
                                        Phép cộng (không nhớ) trong phạm vi 100
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/phep-tru-khong-nho-trong-pham-vi-100.html" title="Phép trừ (không nhớ) trong phạm vi 100" class="_afree">
                                        Phép trừ (không nhớ) trong phạm vi 100
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/dong-ho-thoi-gian-tuan-le.html" title="Đồng hồ- Thời gian- Tuần lễ" class="_afree">
                                        Đồng hồ- Thời gian- Tuần lễ
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/cong-tru-khong-nho-trong-pham-vi-100.html" title="Cộng , trừ (không nhớ) trong phạm vi 100" class="_afree">
                                        Cộng , trừ (không nhớ) trong phạm vi 100
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/luyen-tap-chung-l1.html" title="Luyện tập chung" class="_afree">
                                        Luyện tập chung
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/on-tap-cac-so-den-10.html" title="Ôn tập các số đến 10" class="_afree">
                                        Ôn tập các số đến 10
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/on-tap-cac-so-den-100-l1.html" title="Ôn tập các số đến 100" class="_afree">
                                        Ôn tập các số đến 100
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-1/kiem-tra-cuoi-nam-l1.html" title="Kiểm tra cuối năm" class="_afree">
                                        Kiểm tra cuối năm
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                    </div>
                    


                </div>
            </div>
            <div class="pvc_content_list _test" style="display:none;">
                <div class="_pvctit1">DANH SÁCH BÀI KIỂM TRA</div><a onclick="return reload_page()" class="_pvc_link_bkt" >Bài luyện tập</a>
                <div class="pvc_content_box_list">
                    
                    <div class="pvc_content_box_list_left">
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">BÀI KIỂM TRA THÁNG 5 - 2017</h4>
                            <ul class="pvc_ul_item">
                                
                                <li><a href="de-kiem-tra/toan-lop-1/107-de-kiem-tra-cuoi-nam.html" title="Đề kiểm tra cuối năm">Bài kiểm tra số 1</a>
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">BÀI KIỂM TRA THÁNG 12 - 2017</h4>
                            <ul class="pvc_ul_item">
                                
                                <li><a href="de-kiem-tra/toan-lop-1/106-de-kiem-tra-cuoi-hoc-ki-1.html" title="Đề kiểm tra cuối học kì 1">Bài kiểm tra số 1</a>
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">BÀI KIỂM TRA THÁNG 4 - 2017</h4>
                            <ul class="pvc_ul_item">
                                
                                <li><a href="de-kiem-tra/toan-lop-1/82-de-kiem-tra-thang-4-bai-1.html" title="Đề kiểm tra tháng 4 - Bài 1">Bài kiểm tra số 1</a>
                                    
                                </li>
                                
                                <li><a href="de-kiem-tra/toan-lop-1/88-de-kiem-tra-thang-4-bai-2.html" title="Đề kiểm tra tháng 4 - Bài 2">Bài kiểm tra số 2</a>
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">BÀI KIỂM TRA THÁNG 3 - 2017</h4>
                            <ul class="pvc_ul_item">
                                
                                <li><a href="de-kiem-tra/toan-lop-1/75-de-kiem-tra-thang-3-bai-1.html" title="Đề kiểm tra tháng 3 - Bài 1">Bài kiểm tra số 1</a>
                                    
                                </li>
                                
                                <li><a href="de-kiem-tra/toan-lop-1/78-de-kiem-tra-thang-3-bai-2.html" title="Đề kiểm tra tháng 3 - Bài 2">Bài kiểm tra số 2</a>
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">BÀI KIỂM TRA THÁNG 2 - 2017</h4>
                            <ul class="pvc_ul_item">
                                
                                <li><a href="de-kiem-tra/toan-lop-1/65-de-kiem-tra-thang-2-bai-1.html" title="Đề kiểm tra tháng 2 - Bài 1">Bài kiểm tra số 1</a>
                                    
                                </li>
                                
                                <li><a href="de-kiem-tra/toan-lop-1/68-de-kiem-tra-thang-2-bai-2.html" title="Đề kiểm tra tháng 2 - Bài 2">Bài kiểm tra số 2</a>
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                    </div>   

                    <div class="pvc_content_box_list_right">
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">BÀI KIỂM TRA THÁNG 1 - 2017</h4>
                            <ul class="pvc_ul_item">
                                
                                <li><a href="de-kiem-tra/toan-lop-1/54-de-kiem-tra-thang-1-bai-1.html" title="Đề kiểm tra tháng 1 - Bài 1">Bài kiểm tra số 1</a>
                                    
                                </li>
                                
                                <li><a href="de-kiem-tra/toan-lop-1/60-de-kiem-tra-thang-1-bai-2.html" title="Đề kiểm tra tháng 1 - Bài 2">Bài kiểm tra số 2</a>
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">BÀI KIỂM TRA THÁNG 11 - 2016</h4>
                            <ul class="pvc_ul_item">
                                
                                <li><a href="de-kiem-tra/toan-lop-1/34-de-kiem-tra-thang-11-bai-1.html" title="Đề kiểm tra tháng 11- Bài 1">Bài kiểm tra số 1</a>
                                    
                                </li>
                                
                                <li><a href="de-kiem-tra/toan-lop-1/37-de-kiem-tra-thang-11-bai-2.html" title="Đề kiểm tra tháng 11 - Bài 2">Bài kiểm tra số 2</a>
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">BÀI KIỂM TRA THÁNG 10 - 2016</h4>
                            <ul class="pvc_ul_item">
                                
                                <li><a href="de-kiem-tra/toan-lop-1/9-de-kiem-tra-thang-10-bai-1.html" title="Đề kiểm tra tháng 10 - Bài 1">Bài kiểm tra số 1</a>
                                    
                                </li>
                                
                                <li><a href="de-kiem-tra/toan-lop-1/27-de-kiem-tra-thang-10-bai-2.html" title="Đề kiểm tra tháng 10 - Bài 2">Bài kiểm tra số 2</a>
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">BÀI KIỂM TRA THÁNG 9 - 2016</h4>
                            <ul class="pvc_ul_item">
                                
                                <li><a href="de-kiem-tra/toan-lop-1/8-de-kiem-tra-thang-9-bai-2.html" title="Đề kiểm tra tháng 9 - Bài 2">Bài kiểm tra số 1</a>
                                    
                                </li>
                                
                                <li><a href="de-kiem-tra/toan-lop-1/25-de-kiem-tra-thang-9-bai-1.html" title="Đề kiểm tra tháng 9 - Bài 1">Bài kiểm tra số 2</a>
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">BÀI KIỂM TRA THÁNG 8 - 2016</h4>
                            <ul class="pvc_ul_item">
                                
                                <li><a href="de-kiem-tra/toan-lop-1/7-de-kiem-tra-thang-8-mien-phi.html" title="Đề kiểm tra tháng 8 Miễn phí">Bài kiểm tra số 1</a>
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                    </div>
                    


                </div>
            </div>
            
        </div>
        
        
        
    </div>
    

    
    
    
    
   
    
</div>

<!--JS CHO BANG VANG THANG-->
<!--<script src="http://dev.luyenthi123.com/static/js/bjqs.min.js"></script>
<script>
                jQuery(document).ready(function ($) {
                    // =========== parse slider ==========
                    $('._renslider').each(function (i, e) {
                        $(this).bjqs({
                            animtype: 'slide',
                            height: $(this).height(),
                            width: $(this).width(),
                            automatic: false,
                            responsive: false,
                            randomstart: false
                        });
                    });
                });
</script>-->
<script>
$(function(){
    $('.cancel_hd_reply').live('click',function(){
       $(this).parents('.action_reply_hoidap').hide();
       var id = $(this).attr("id");
       $(".ques span[id="+ id +"]").html(txtreplyold);
    });
  })
</script>
    </div>
    <!--- libs -->
    <!--<script src="https://www.luyenthi123.com/static/js/bjqs.min.js"></script>-->
    <script>
        function tthtChange(value) {
            var elem = $(".memBar");
            var width = 10;
            var id = setInterval(frame, 10);
            function frame() {
                if (width >= value) {
                    clearInterval(id);
                } else {
                    width++;
                    elem.css('width', width + '%');
                }
            }
        }

        jQuery(document).ready(function ($) {
            // =========== parse slider ==========
            //('._renslider').each(function (i, e) {
            //    $(this).bjqs({
            //        animtype: 'slide',
            //        height: $(this).height(),
            //        width: $(this).width(),
            //        automatic: false,
            //        responsive: false,
            //        randomstart: false
            //    });
            //});

            //tinh chung ko phan biet bt va bai kt nua
            if ($("._test").is(":visible")) {
                //get_user_point("_pvc_ptb_kt");
                get_user_point("_pvc_ptb");
            } else {
                get_user_point("_pvc_ptb");
            }
        });

        function reload_page() {
            $("._practice").toggle();
            $("._test").toggle();
            //tinh chung ko phan biet bt va bai kt nua
            if ($("._test").is(":visible")) {
                //get_user_point("_pvc_ptb_kt");
                get_user_point("_pvc_ptb");
            } else {
                get_user_point("_pvc_ptb");
            }
        }

        function get_user_point(type) {
            // ==== script point user === 
            var _p = 0;
            var _ap = 0;
            var _tp = 0;
            var arr_p_ = [];
            $('.' + type).each(function (i, e) {
                _ap++;
                var p_val = ($(e).text());
                if (p_val == '?') {
                    $(e).addClass('_non');
                    $(e).attr('title', 'Chưa có điểm TB');
                } else {
                    _p++;
                    arr_p_.push(i);
                    p_val = parseFloat($(e).text());
                    _tp += p_val;
                    if (p_val == 100)
                        $(e).addClass('_10');
                    else if (p_val > 79)
                        $(e).addClass('_9');
                    else if (p_val > 64)
                        $(e).addClass('_8');
                    else if (p_val > 49)
                        $(e).addClass('_6');
                    else
                        $(e).addClass('_5');
                    $(e).attr('title', 'Điểm TB');
                }
            });
            if (_tp != 0 && _p != 0) {
                $('._alllevel').text((_tp / _p).toFixed(1));
            } else {
                $('._alllevel').text('----');
            }
            $('._alllevel').text(Math.round((_p / _ap) * 100) + '%');
            var pos_bt = $('.' + type + ':eq(' + arr_p_[arr_p_.length - 1] + ')').parent('li').find('a');
            var nex_bt = $('.' + type + ':eq(' + (arr_p_[arr_p_.length - 1] + 1) + ')').parent('li').find('a');
            $('._bhdanghoc a').text(pos_bt.text()).attr('href', pos_bt.attr('href'));
            $('._bhtiep a').text(nex_bt.text()).attr('href', nex_bt.attr('href'));
            $('._bhdanghoc a').text(pos_bt.text()).attr('title', pos_bt.attr('title'));
            $('._bhtiep a').text(nex_bt.text()).attr('title', nex_bt.attr('title'));
            tthtChange(Math.round((_p / _ap) * 100));
        }

        function changeBXH(elm, level) {
            $(".star_.active").removeClass("active");
            $(elm).addClass('active');
            var path = window.location.pathname;

            $.post(base_urlroot + "act/load_bxh_mon", {level:level,path:path}, function (res) {
                if (IsJsonString(res)) {
                    res = jQuery.parseJSON(res);
                    if (res.stt == 'true') {
                        $('.pvc_sb_bxh ._content').html(res.bxh_data);
                        if ($('.pvc_sb_bxh ._content_mem_rank').length == 0 && res.mem_bxh_data != "") {
                            var str = '<div class="mem_rank">Hạng của tôi</div><ul class="_content_mem_rank">';
                            $('ul._content').after(str + res.mem_bxh_data + '</div>');
                        } else {
                            $('.pvc_sb_bxh ._content_mem_rank').html(res.mem_bxh_data);
                        }
                    } else {
                        $('.pvc_sb_bxh ._content').html('');
                        $('.pvc_sb_bxh ._content_mem_rank').html('');
                    }
                } else {
                    alert('Thao tác không thành công!');
                }
            }).fail(function () {
                alert("Lỗi hệ thống! Vui lòng thực hiện lại.");
            });
        }

    </script>
</div>
</div>


 <!-- WRAPPER -->
<div id="footer" th:replace="user/sharedlayout/footer::footer"></div>
</body>