<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/sharedlayout/head-tag :: head-tag">
    <title>Website mathematics online</title>
</head>
<body>
<!-- WRAPPER -->
<div class="wrapper">
    <div class="header_tb_opacity"></div>
    <!-- HEADER -->
    <div id="header" th:replace="user/sharedlayout/header::header"></div>


    <!-- MAIN - MENU -->
    <div id="main-menu" th:replace="user/sharedlayout/menu :: menu"></div>
    
    
    
    <div class="body_content">
    <link rel="stylesheet" href="/assets/css/pvc_monhoc9713.css?vs=1" />
    <div class="_boxcontent">
        <div class="navigation_tree"><a class="nav_tree_links" href="index.html">Home</a><a class="nav_tree_links" href="lop-5.html">Lớp 5</a><a href="toan-lop-5.html" class="nav_tree_links_ac">Toán lớp 5</a></div>
        <div class="box_section">
            <div class="pvc_box_banner">
                <a class="sub-banner" href="toan-lop-5.html" title="Toán lớp 5"><img src="/assets/image/banner/banner-subject.png" style="margin-left: 17px;"/><span>Toán lớp 5</span></a>

                
            </div>
            <div class="pvc_content_list _practice" >
                <div class="_pvctit1">DANH MỤC CHƯƠNG TRÌNH Toán lớp 5</div><a onclick="return reload_page()" class="_pvc_link_bkt" >Bài kiểm tra</a>
                
                
                <a class="baigiang-banner" href="bai-giang/toan-lop-5.html" title="Video bài giảng Toán lớp 5">
                    <div>
                        <img src="/assets/image/baigiang/bg-baigiang.png"/><span><i class="fa fa-play-circle" aria-hidden="true"></i> Xem video bài giảng chương trình Toán lớp 5</span>
                    </div>
                </a>
                
                <div class="pvc_content_box_list">
                    
                    <div class="pvc_content_box_list_left">
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">Chương 1: Ôn tập và bổ sung về phân số. Giải toán liên quan đến tỉ lệ. Bảng đơn vị đo diện tích</h4>
                            <ul class="pvc_ul_item">
                                
                                <li class=" have_baigiang">
                                    
                                    <a href="toan-lop-5/on-tap-khai-niem-ve-phan-so-tinh-chat-co-ban-cua-phan-so.html" title="Ôn tập: Khái niệm về phân số - Tính chất cơ bản của phân số" class="_afree">
                                        Ôn tập: Khái niệm về phân số - Tính chất cơ bản của phân số
                                        
                                       
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" have_baigiang">
                                    
                                    <a href="toan-lop-5/on-tap-so-sanh-hai-phan-so.html" title="Ôn tập: So sánh hai phân số" class="_afree">
                                        Ôn tập: So sánh hai phân số
                                        
                                       
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" have_baigiang">
                                    
                                    <a href="toan-lop-5/phan-so-thap-phan.html" title="Phân số thập phân" class="_afree">
                                        Phân số thập phân
                                        
                                       
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" have_baigiang">
                                    
                                    <a href="toan-lop-5/on-tap-phep-cong-va-phep-tru-hai-phan-so.html" title="Ôn tập: Phép cộng và phép trừ hai phân số" class="_afree">
                                        Ôn tập: Phép cộng và phép trừ hai phân số
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" have_baigiang">
                                    
                                    <a href="toan-lop-5/on-tap-phep-nhan-va-phep-chia-hai-phan-so.html" title="Ôn tập: Phép nhân và phép chia hai phân số" class="_afree">
                                        Ôn tập: Phép nhân và phép chia hai phân số
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" have_baigiang">
                                    
                                    <a href="toan-lop-5/hon-so.html" title="Hỗn số" class="_afree">
                                        Hỗn số
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/luyen-tap-chung-lop-5.html" title="Luyện tập chung" class="_afree">
                                        Luyện tập chung
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" have_baigiang">
                                    
                                    <a href="toan-lop-5/on-tap-va-bo-sung-ve-giai-toan.html" title="Ôn tập và bổ sung về giải toán" class="_afree">
                                        Ôn tập và bổ sung về giải toán
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" have_baigiang">
                                    
                                    <a href="toan-lop-5/on-tap-bang-don-vi-do-do-dai.html" title="Ôn tập: Bảng đơn vị đo độ dài" class="_afree">
                                        Ôn tập: Bảng đơn vị đo độ dài
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" have_baigiang">
                                    
                                    <a href="toan-lop-5/on-tap-bang-don-vi-do-khoi-luong.html" title="Ôn tập: Bảng đơn vị đo khối lượng" class="_afree">
                                        Ôn tập: Bảng đơn vị đo khối lượng
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" have_baigiang">
                                    
                                    <a href="toan-lop-5/de-ca-met-vuong-hec-to-met-vuong-hec-ta.html" title="Đề-ca-mét-vuông. Héc-tô-mét-vuông. Héc -ta." class="_afree">
                                        Đề-ca-mét-vuông. Héc-tô-mét-vuông. Héc -ta.
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" have_baigiang">
                                    
                                    <a href="toan-lop-5/mi-li-met-vuong-bang-don-vi-do-dien-tich.html" title="Mi-li-mét vuông. Bảng đơn vị đo diện tích" class="_afree">
                                        Mi-li-mét vuông. Bảng đơn vị đo diện tích
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/bai-kiem-tra-chuong-1.html" title="Bài kiểm tra chương 1" class="_afree">
                                        Bài kiểm tra chương 1
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">Chương 2: Số thập phân. Các phép tính với số thập phân</h4>
                            <ul class="pvc_ul_item">
                                
                                <li class="_titlephan ">
                                    
                                    
                                    <div title="I- Số thập phân" class="nolink">I- Số thập phân</div>  
                                    
                                    
                                </li>
                                
                                <li class=" have_baigiang">
                                    
                                    <a href="toan-lop-5/khai-niem-so-thap-phan.html" title="Khái niệm số thập phân" class="_afree">
                                        Khái niệm số thập phân
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" have_baigiang">
                                    
                                    <a href="toan-lop-5/hang-cua-so-thap-phan-doc-viet-so-thap-phan.html" title="Hàng của số thập phân. Đọc, viết số thâp phân" class="_afree">
                                        Hàng của số thập phân. Đọc, viết số thâp phân
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" have_baigiang">
                                    
                                    <a href="toan-lop-5/so-thap-phan-bang-nhau-so-sanh-hai-so-thap-phan.html" title="Số thập phân bằng nhau. So sánh hai số thập phân" class="_afree">
                                        Số thập phân bằng nhau. So sánh hai số thập phân
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" have_baigiang">
                                    
                                    <a href="toan-lop-5/viet-cac-so-do-do-dai-duoi-dang-so-thap-phan.html" title="Viết các số đo độ dài dưới dạng số thập phân" class="_afree">
                                        Viết các số đo độ dài dưới dạng số thập phân
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" have_baigiang">
                                    
                                    <a href="toan-lop-5/viet-cac-so-do-khoi-luong-duoi-dang-so-thap-phan.html" title="Viết các số đo khối lượng dưới dạng số thập phân" class="_afree">
                                        Viết các số đo khối lượng dưới dạng số thập phân
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" have_baigiang">
                                    
                                    <a href="toan-lop-5/viet-cac-so-do-dien-tich-duoi-dang-so-thap-phan.html" title="Viết các số đo diện tích dưới dạng số thập phân" class="_afree">
                                        Viết các số đo diện tích dưới dạng số thập phân
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/luyen-tap-chung-1-l5.html" title="Luyện tập chung" class="_afree">
                                        Luyện tập chung
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class="_titlephan ">
                                    
                                    
                                    <div title="II-Các phép tính với số thập phân" class="nolink">II-Các phép tính với số thập phân</div>  
                                    
                                    
                                </li>
                                
                                <li class="_titlephan ">
                                    
                                    
                                    <div title="1.Phép cộng" class="nolink">1.Phép cộng</div>  
                                    
                                    
                                </li>
                                
                                <li class=" have_baigiang">
                                    
                                    <a href="toan-lop-5/cong-hai-so-thap-phan-tong-nhieu-so-thap-phan.html" title="Cộng hai số thập phân. Tổng nhiều số thập phân" class="_afree">
                                        Cộng hai số thập phân. Tổng nhiều số thập phân
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class="_titlephan ">
                                    
                                    
                                    <div title="2.Phép trừ" class="nolink">2.Phép trừ</div>  
                                    
                                    
                                </li>
                                
                                <li class=" have_baigiang">
                                    
                                    <a href="toan-lop-5/tru-hai-so-thap-phan.html" title="Trừ hai số thập phân" class="_afree">
                                        Trừ hai số thập phân
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/luyen-tap-chung-2-l5.html" title="Luyện tập chung" class="_afree">
                                        Luyện tập chung
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class="_titlephan ">
                                    
                                    
                                    <div title="3.Phép nhân" class="nolink">3.Phép nhân</div>  
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/nhan-mot-so-thap-phan-voi-mot-so-tu-nhien.html" title="Nhân một số thập phân với một số tự nhiên" class="_afree">
                                        Nhân một số thập phân với một số tự nhiên
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/nhan-mot-so-thap-phan-voi-10-100-1000.html" title="Nhân một số thập phân với 10, 100, 1000, ..." class="_afree">
                                        Nhân một số thập phân với 10, 100, 1000, ...
                                        
                                       
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/nhan-mot-so-thap-phan-voi-mot-so-thap-phan.html" title="Nhân một số thập phân với một số thập phân" class="_afree">
                                        Nhân một số thập phân với một số thập phân
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/luyen-tap-chung-p3.html" title="Luyện tập chung" class="_afree">
                                        Luyện tập chung
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class="_titlephan ">
                                    
                                    
                                    <div title="4. Phép chia" class="nolink">4. Phép chia</div>  
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/chia-mot-so-thap-phan-cho-mot-so-tu-nhien.html" title="Chia một số thập phân cho một số tự nhiên" class="_afree">
                                        Chia một số thập phân cho một số tự nhiên
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/chia-mot-so-thap-phan-cho-10-100-1000.html" title="Chia một số thập phân cho 10, 100, 1000, ..." class="_afree">
                                        Chia một số thập phân cho 10, 100, 1000, ...
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/chia-mot-so-tu-nhien-cho-mot-so-tu-nhien-ma-thuong-tim-duoc-la-mot-so-thap-phan.html" title="Chia một số tự nhiên cho một số tự nhiên mà thương tìm được là một số thập phân" class="_afree">
                                        Chia một số tự nhiên cho một số tự nhiên mà thương tìm được là một số thập phân
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/chia-mot-so-tu-nhien-cho-mot-so-thap-phan.html" title="Chia một số tự nhiên cho một số thập phân" class="_afree">
                                        Chia một số tự nhiên cho một số thập phân
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/chia-mot-so-thap-phan-cho-mot-so-thap-phan.html" title="Chia một số thập phân cho một số thập phân" class="_afree">
                                        Chia một số thập phân cho một số thập phân
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/ti-so-phan-tram-giai-toan-ve-ti-so-phan-tram.html" title="Tỉ số phần trăm. Giải toán về tỉ số phần trăm" class="_afree">
                                        Tỉ số phần trăm. Giải toán về tỉ số phần trăm
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/kiem-tra-cuoi-chuong-2.html" title="Kiểm tra cuối chương 2" class="_afree">
                                        Kiểm tra cuối chương 2
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">Chương 3: Hình học</h4>
                            <ul class="pvc_ul_item">
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/hinh-tam-giac-dien-tich-hinh-tam-giac.html" title="Hình tam giác - Diện tích hình tam giác" class="_afree">
                                        Hình tam giác - Diện tích hình tam giác
                                        
                                       
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/hinh-thang-dien-tich-hinh-thang.html" title="Hình thang - Diện tích hình thang" class="_afree">
                                        Hình thang - Diện tích hình thang
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/hinh-tron-duong-tron-chu-vi-hinh-tron.html" title="Hình tròn. Đường tròn - Chu vi hình tròn" class="_afree">
                                        Hình tròn. Đường tròn - Chu vi hình tròn
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/dien-tich-hinh-tron.html" title="Diện tích hình tròn" class="_afree">
                                        Diện tích hình tròn
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/luyen-tap-ve-tinh-dien-tich.html" title="Luyện tập về tính diện tích" class="_afree">
                                        Luyện tập về tính diện tích
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/hinh-hop-chu-nhat-hinh-lap-phuong.html" title="Hình hộp chữ nhật. Hình lập phương" class="_afree">
                                        Hình hộp chữ nhật. Hình lập phương
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/dien-tich-xung-quanh-va-dien-tich-toan-phan-cua-hinh-hop-chu-nhat.html" title="Diện tích xung quanh và diện tích toàn phẩn của hình hộp chữ nhật" class="_afree">
                                        Diện tích xung quanh và diện tích toàn phẩn của hình hộp chữ nhật
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/dien-tich-xung-quanh-va-dien-tich-toan-phan-cua-hinh-lap-phuong.html" title="Diện tích xung quanh và diện tích toàn phần của hình lập phương" class="_afree">
                                        Diện tích xung quanh và diện tích toàn phần của hình lập phương
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/the-tich-cua-mot-hinh-xang-ti-met-khoi-de-xi-met-khoi-met-khoi.html" title="Thể tích của một hình. Xăng - ti - mét khối. Đề - xi - mét khối. Mét khối" class="_afree">
                                        Thể tích của một hình. Xăng - ti - mét khối. Đề - xi - mét khối. Mét khối
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/the-tich-hinh-hop-chu-nhat.html" title="Thể tích hình hộp chữ nhật" class="_afree">
                                        Thể tích hình hộp chữ nhật
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/the-tich-hinh-lap-phuong.html" title="Thể tích hình lập phương" class="_afree">
                                        Thể tích hình lập phương
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/bai-kiem-tra-chuong-3.html" title="Bài kiểm tra chương 3" class="_afree">
                                        Bài kiểm tra chương 3
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                    </div>   

                    <div class="pvc_content_box_list_right">
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">Chương 4: Số đo thời gian. Toán chuyển động đều</h4>
                            <ul class="pvc_ul_item">
                                
                                <li class="_titlephan ">
                                    
                                    
                                    <div title="1. Số đo thời gian" class="nolink">1. Số đo thời gian</div>  
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/bang-don-vi-do-thoi-gian.html" title="Bảng đơn vị đo thời gian" class="_afree">
                                        Bảng đơn vị đo thời gian
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/cong-so-do-thoi-gian.html" title="Cộng số đo thời gian" class="_afree">
                                        Cộng số đo thời gian
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/tru-so-do-thoi-gian.html" title="Trừ số đo thời gian" class="_afree">
                                        Trừ số đo thời gian
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/nhan-so-do-thoi-gian-voi-mot-so.html" title="Nhân số đo thời gian với một số" class="_afree">
                                        Nhân số đo thời gian với một số
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/chia-so-do-thoi-gian-cho-mot-so.html" title="Chia số đo thời gian cho một số" class="_afree">
                                        Chia số đo thời gian cho một số
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/luyen-tap-chung-p1-c4-l5.html" title="Luyện tập chung" class="_afree">
                                        Luyện tập chung
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class="_titlephan ">
                                    
                                    
                                    <div title="2. Vận tốc, quãng đường, thời gian" class="nolink">2. Vận tốc, quãng đường, thời gian</div>  
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/van-toc.html" title="Vận tốc" class="_afree">
                                        Vận tốc
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/quang-duong.html" title="Quãng đường" class="_afree">
                                        Quãng đường
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/thoi-gian.html" title="Thời gian" class="_afree">
                                        Thời gian
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/bai-kiem-tra-chuong-4.html" title="Bài kiểm tra chương 4" class="_afree">
                                        Bài kiểm tra chương 4
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">Chương 5: Ôn tập cuối năm</h4>
                            <ul class="pvc_ul_item">
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/on-tap-ve-so-tu-nhien-phan-so-so-thap-phan-so-do-dai-luong.html" title="Ôn tập về số tự nhiên, phân số, số thập phân, số đo đại lượng" class="_afree">
                                        Ôn tập về số tự nhiên, phân số, số thập phân, số đo đại lượng
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/on-tap-ve-cac-phep-tinh-voi-so-tu-nhien-phan-so-so-thap-phan.html" title="Ôn tập: về các phép tính với số tự nhiên, phân số, số thập phân" class="_afree">
                                        Ôn tập: về các phép tính với số tự nhiên, phân số, số thập phân
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/on-tap-ve-hinh-hoc-l5.html" title="Ôn tập về hình học" class="_afree">
                                        Ôn tập về hình học
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/on-tap-ve-giai-toan-l5.html" title="Ôn tập về giải toán" class="_afree">
                                        Ôn tập về giải toán
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                                <li class=" ">
                                    
                                    <a href="toan-lop-5/kiem-tra-cuoi-nam-l5.html" title="Kiểm tra cuối năm" class="_afree">
                                        Kiểm tra cuối năm
                                        
                                    </a>  
                                    
                                    
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                    </div>
                    


                </div>
            </div>
            <div class="pvc_content_list _test" style="display:none;">
                <div class="_pvctit1">DANH SÁCH BÀI KIỂM TRA</div><a onclick="return reload_page()" class="_pvc_link_bkt" >Bài luyện tập</a>
                <div class="pvc_content_box_list">
                    
                    <div class="pvc_content_box_list_left">
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">BÀI KIỂM TRA THÁNG 5 - 2017</h4>
                            <ul class="pvc_ul_item">
                                
                                <li><a href="de-kiem-tra/toan-lop-5/109-de-kiem-tra-cuoi-nam.html" title="Đề kiểm tra cuối năm">Bài kiểm tra số 1</a>
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">BÀI KIỂM TRA THÁNG 12 - 2017</h4>
                            <ul class="pvc_ul_item">
                                
                                <li><a href="de-kiem-tra/toan-lop-5/108-de-kiem-tra-cuoi-hoc-ki-1.html" title="Đề kiểm tra cuối học kì 1">Bài kiểm tra số 1</a>
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">BÀI KIỂM TRA THÁNG 4 - 2017</h4>
                            <ul class="pvc_ul_item">
                                
                                <li><a href="de-kiem-tra/toan-lop-5/86-de-kiem-tra-thang-4-bai-1.html" title="Đề kiểm tra tháng 4 - Bài 1">Bài kiểm tra số 1</a>
                                    
                                </li>
                                
                                <li><a href="de-kiem-tra/toan-lop-5/90-de-kiem-tra-thang-4-bai-2.html" title="Đề kiểm tra tháng 4 - Bài 2">Bài kiểm tra số 2</a>
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">BÀI KIỂM TRA THÁNG 3 - 2017</h4>
                            <ul class="pvc_ul_item">
                                
                                <li><a href="de-kiem-tra/toan-lop-5/73-de-kiem-tra-thang-3-bai-1.html" title="Đề kiểm tra tháng 3 - Bài 1">Bài kiểm tra số 1</a>
                                    
                                </li>
                                
                                <li><a href="de-kiem-tra/toan-lop-5/77-de-kiem-tra-thang-3-bai-2.html" title="Đề kiểm tra tháng 3 - Bài 2">Bài kiểm tra số 2</a>
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">BÀI KIỂM TRA THÁNG 2 - 2017</h4>
                            <ul class="pvc_ul_item">
                                
                                <li><a href="de-kiem-tra/toan-lop-5/59-de-kiem-tra-thang-2-bai-1.html" title="Đề kiểm tra tháng 2 - Bài 1">Bài kiểm tra số 1</a>
                                    
                                </li>
                                
                                <li><a href="de-kiem-tra/toan-lop-5/70-de-kiem-tra-thang-2-bai-2.html" title="Đề kiểm tra tháng 2 - Bài 2">Bài kiểm tra số 2</a>
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                    </div>   

                    <div class="pvc_content_box_list_right">
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">BÀI KIỂM TRA THÁNG 1 - 2017</h4>
                            <ul class="pvc_ul_item">
                                
                                <li><a href="de-kiem-tra/toan-lop-5/52-de-kiem-tra-thang-1-bai-1.html" title="Đề kiểm tra tháng 1 - Bài 1">Bài kiểm tra số 1</a>
                                    
                                </li>
                                
                                <li><a href="de-kiem-tra/toan-lop-5/58-de-kiem-tra-thang-1-bai-2.html" title="Đề kiểm tra tháng 1 - Bài 2">Bài kiểm tra số 2</a>
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">BÀI KIỂM TRA THÁNG 11 - 2016</h4>
                            <ul class="pvc_ul_item">
                                
                                <li><a href="de-kiem-tra/toan-lop-5/36-de-kiem-tra-thang-11-bai-1.html" title="Đề kiểm tra tháng 11 - Bài 1">Bài kiểm tra số 1</a>
                                    
                                </li>
                                
                                <li><a href="de-kiem-tra/toan-lop-5/40-de-kiem-tra-thang-11-bai-2.html" title="Đề kiểm tra tháng 11 - Bài 2">Bài kiểm tra số 2</a>
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">BÀI KIỂM TRA THÁNG 10 - 2016</h4>
                            <ul class="pvc_ul_item">
                                
                                <li><a href="de-kiem-tra/toan-lop-5/15-de-kiem-tra-thang-10-bai-1.html" title="Đề kiểm tra tháng 10 - Bài 1">Bài kiểm tra số 1</a>
                                    
                                </li>
                                
                                <li><a href="de-kiem-tra/toan-lop-5/31-de-kiem-tra-thang-10-bai-2.html" title="Đề kiểm tra tháng 10 - Bài 2">Bài kiểm tra số 2</a>
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">BÀI KIỂM TRA THÁNG 9 - 2016</h4>
                            <ul class="pvc_ul_item">
                                
                                <li><a href="de-kiem-tra/toan-lop-5/14-de-kiem-tra-thang-9-bai-2.html" title="Đề kiểm tra tháng 9 - Bài 2">Bài kiểm tra số 1</a>
                                    
                                </li>
                                
                                <li><a href="de-kiem-tra/toan-lop-5/22-de-kiem-tra-thang-9-bai-1.html" title="Đề kiểm tra tháng 9 - Bài 1">Bài kiểm tra số 2</a>
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                        <div class="pvc_content_item">
                            <h4 class="_pvctit2">BÀI KIỂM TRA THÁNG 8 - 2016</h4>
                            <ul class="pvc_ul_item">
                                
                                <li><a href="de-kiem-tra/toan-lop-5/10-de-kiem-tra-thang-8-mien-phi.html" title="Đề kiểm tra tháng 8 Miễn phí">Bài kiểm tra số 1</a>
                                    
                                </li>
                                
                            </ul>
                        </div>
                        
                    </div>
                    


                </div>
            </div>
            
        </div>
        
    
   
    

    
    
        
        
    </div>
    

    
    

    
    
</div>

<!--JS CHO BANG VANG THANG-->
<!--<script src="http://dev.luyenthi123.com//assets/js/bjqs.min.js"></script>
<script>
                jQuery(document).ready(function ($) {
                    // =========== parse slider ==========
                    $('._renslider').each(function (i, e) {
                        $(this).bjqs({
                            animtype: 'slide',
                            height: $(this).height(),
                            width: $(this).width(),
                            automatic: false,
                            responsive: false,
                            randomstart: false
                        });
                    });
                });
</script>-->
<script>
$(function(){
    $('.cancel_hd_reply').live('click',function(){
       $(this).parents('.action_reply_hoidap').hide();
       var id = $(this).attr("id");
       $(".ques span[id="+ id +"]").html(txtreplyold);
    });
  })
</script>
    </div>
    <!--- libs -->
    <!--<script src="https://www.luyenthi123.com//assets/js/bjqs.min.js"></script>-->
    <script>
        function tthtChange(value) {
            var elem = $(".memBar");
            var width = 10;
            var id = setInterval(frame, 10);
            function frame() {
                if (width >= value) {
                    clearInterval(id);
                } else {
                    width++;
                    elem.css('width', width + '%');
                }
            }
        }

        jQuery(document).ready(function ($) {
            // =========== parse slider ==========
            //('._renslider').each(function (i, e) {
            //    $(this).bjqs({
            //        animtype: 'slide',
            //        height: $(this).height(),
            //        width: $(this).width(),
            //        automatic: false,
            //        responsive: false,
            //        randomstart: false
            //    });
            //});

            //tinh chung ko phan biet bt va bai kt nua
            if ($("._test").is(":visible")) {
                //get_user_point("_pvc_ptb_kt");
                get_user_point("_pvc_ptb");
            } else {
                get_user_point("_pvc_ptb");
            }
        });

        function reload_page() {
            $("._practice").toggle();
            $("._test").toggle();
            //tinh chung ko phan biet bt va bai kt nua
            if ($("._test").is(":visible")) {
                //get_user_point("_pvc_ptb_kt");
                get_user_point("_pvc_ptb");
            } else {
                get_user_point("_pvc_ptb");
            }
        }

        function get_user_point(type) {
            // ==== script point user === 
            var _p = 0;
            var _ap = 0;
            var _tp = 0;
            var arr_p_ = [];
            $('.' + type).each(function (i, e) {
                _ap++;
                var p_val = ($(e).text());
                if (p_val == '?') {
                    $(e).addClass('_non');
                    $(e).attr('title', 'Chưa có điểm TB');
                } else {
                    _p++;
                    arr_p_.push(i);
                    p_val = parseFloat($(e).text());
                    _tp += p_val;
                    if (p_val == 100)
                        $(e).addClass('_10');
                    else if (p_val > 79)
                        $(e).addClass('_9');
                    else if (p_val > 64)
                        $(e).addClass('_8');
                    else if (p_val > 49)
                        $(e).addClass('_6');
                    else
                        $(e).addClass('_5');
                    $(e).attr('title', 'Điểm TB');
                }
            });
            if (_tp != 0 && _p != 0) {
                $('._alllevel').text((_tp / _p).toFixed(1));
            } else {
                $('._alllevel').text('----');
            }
            $('._alllevel').text(Math.round((_p / _ap) * 100) + '%');
            var pos_bt = $('.' + type + ':eq(' + arr_p_[arr_p_.length - 1] + ')').parent('li').find('a');
            var nex_bt = $('.' + type + ':eq(' + (arr_p_[arr_p_.length - 1] + 1) + ')').parent('li').find('a');
            $('._bhdanghoc a').text(pos_bt.text()).attr('href', pos_bt.attr('href'));
            $('._bhtiep a').text(nex_bt.text()).attr('href', nex_bt.attr('href'));
            $('._bhdanghoc a').text(pos_bt.text()).attr('title', pos_bt.attr('title'));
            $('._bhtiep a').text(nex_bt.text()).attr('title', nex_bt.attr('title'));
            tthtChange(Math.round((_p / _ap) * 100));
        }

        function changeBXH(elm, level) {
            $(".star_.active").removeClass("active");
            $(elm).addClass('active');
            var path = window.location.pathname;

            $.post(base_urlroot + "act/load_bxh_mon", {level:level,path:path}, function (res) {
                if (IsJsonString(res)) {
                    res = jQuery.parseJSON(res);
                    if (res.stt == 'true') {
                        $('.pvc_sb_bxh ._content').html(res.bxh_data);
                        if ($('.pvc_sb_bxh ._content_mem_rank').length == 0 && res.mem_bxh_data != "") {
                            var str = '<div class="mem_rank">Hạng của tôi</div><ul class="_content_mem_rank">';
                            $('ul._content').after(str + res.mem_bxh_data + '</div>');
                        } else {
                            $('.pvc_sb_bxh ._content_mem_rank').html(res.mem_bxh_data);
                        }
                    } else {
                        $('.pvc_sb_bxh ._content').html('');
                        $('.pvc_sb_bxh ._content_mem_rank').html('');
                    }
                } else {
                    alert('Thao tác không thành công!');
                }
            }).fail(function () {
                alert("Lỗi hệ thống! Vui lòng thực hiện lại.");
            });
        }

    </script>
</div>
</div>
    
    <!-- WRAPPER -->
<div id="footer" th:replace="user/sharedlayout/footer::footer"></div>
</body>